/* Base grid unit */
.b-color-container {
  background-color: #00b4ff;
  color: white; }

.b-logo__title {
  background-color: #008fcc;
  color: white; }

.b-logo__title:hover {
  background-color: #0070a1; }

.b-social-list__link, .b-services__icon {
  background-color: #008fcc; }

.b-social-list__link:hover {
  background-color: #0070a1; }

.b-services__item:hover .b-services__icon {
  background-color: #0070a1; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-color: #3498db; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #0070a1; }

.b-newsletter__submit, .b-contact-form__submit, .b-services__contact-link, .b-pricing-table__button {
  background-color: #008fcc !important;
  border-color: #008fcc !important;
  color: white; }

.b-newsletter__submit:hover,
.b-newsletter__submit:active,
.b-contact-form__submit:hover,
.b-contact-form__submit:active,
.b-services__contact-link:hover,
.b-pricing-table__button:hover,
.b-pricing-table__button:active {
  background-color: #0070a1 !important;
  border-color: #0070a1 !important; }

.carousel-control {
  background-color: #008fcc; }

.carousel-control:hover {
  background-color: #0070a1; }

.b-about {
  background-color: #00b4ff;
  color: white; }

.b-about__position {
  background-color: #008fcc; }

.b-pricing-table__item--active .b-pricing-table__header {
  background-color: #00b4ff; }

.b-testimonials, .b-pricing-table__item, .b-contacts--footer {
  background-color: #d2e4fc; }

.b-testimonials__name--color, .b-contacts__text--color, .b-pricing-table__color-text {
  color: #00b4ff; }

.b-services, .b-pricing-table, .b-contact-us {
  background-color: white; }

.b-footer--landing {
  background-color: #00b4ff;
  color: white; }

.tweet_time a {
  color: #444444; }

.tweet_user, .tweet_user:hover {
  color: #0070a1; }

.b-footer--pic .tweet_time a {
  color: #444444; }
.b-footer--pic .tweet_user, .b-footer--pic .tweet_user:hover {
  color: #0070a1; }
