/* Base grid unit */
.b-color-container {
  background-color: white;
  color: #444444; }

.b-logo__title {
  background-color: #00b4ff;
  color: white; }

.b-logo__title:hover {
  background-color: #008fcc; }

.b-social-list__link {
  background-color: #00b4ff; }

.b-social-list__link:hover {
  background-color: #008fcc; }

.b-social-list__item {
  background-color: #00b4ff; }

.b-services__icon {
  background-color: #008fcc; }

.b-social-list__item:hover {
  background-color: #008fcc; }

.b-social-list--footer .b-social-list__link {
  background-color: #008fcc; }
.b-social-list--footer .b-social-list__link:hover {
  background-color: #0070a1; }

.b-social-list--about .b-social-list__link {
  background-color: #234182; }
.b-social-list--about .b-social-list__link:hover {
  background-color: #3498db; }

.b-services__item:hover .b-services__icon {
  background-color: #0070a1; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #00b4ff; }

.b-newsletter__submit, .b-contact-form__submit {
  background-color: #00b4ff !important;
  border-color: #00b4ff !important; }

.b-services__contact-link {
  background-color: #008fcc !important;
  border-color: #008fcc !important; }

.b-newsletter__submit:hover,
.b-newsletter__submit:active,
.b-contact-form__submit:hover,
.b-contact-form__submit:active {
  background-color: #008fcc !important;
  border-color: #008fcc !important; }

.b-services__contact-link:hover,
.b-services__contact-link:active {
  background-color: #0070a1 !important;
  border-color: #0070a1 !important; }

.carousel-control {
  background-color: #00b4ff; }

.carousel-control:hover {
  background-color: #008fcc; }

.b-services {
  background-color: #00b4ff;
  color: white; }

.b-about {
  background-color: #d2e4fc; }

.b-about__position {
  background-color: #234182;
  color: white; }

.b-testimonials {
  background-color: #00b4ff;
  color: white; }

.b-testimonials__text {
  color: #0070a1; }

.b-testimonials__name--color {
  color: #0070a1; }

.b-pricing-table__item, .b-contacts--footer {
  background-color: #d2e4fc; }

.b-pricing-table__item--active .b-pricing-table__header {
  background-color: #2c2c62; }

.b-contacts__text--color, .b-pricing-table__color-text {
  color: #2c2c62; }

.b-pricing-table__button {
  background-color: #234182;
  border-color: #234182; }

.b-pricing-table__button:hover {
  background-color: #3498db;
  border-color: #3498db; }

.b-pricing-table, .b-contact-us {
  background-color: white; }

footer {
  color: white;
  background-color: #00b4ff; }

.countdown_amount {
  color: #00b4ff; }

.tweet_time a, .tweet_user, .tweet_user:hover {
  color: white; }

.b-footer--pic .tweet_time a, .b-footer--map .tweet_time a {
  color: #444444; }
.b-footer--pic .tweet_user, .b-footer--pic .tweet_user:hover, .b-footer--map .tweet_user, .b-footer--map .tweet_user:hover {
  color: #00b4ff; }
