/* Base grid unit */
.b-color-container {
  background-color: white;
  color: #444444; }

.b-logo__title {
  background-color: #f1c40f;
  color: white; }

.b-logo__title:hover {
  background-color: #f89406; }

.b-social-list__link {
  background-color: #f1c40f; }

.b-social-list__link:hover {
  background-color: #f89406; }

.b-social-list--footer .b-social-list__link {
  background-color: #f89406; }
.b-social-list--footer .b-social-list__link:hover {
  background-color: #e67e22; }

.b-services__icon {
  background-color: #f89406; }

.b-services__item:hover .b-services__icon {
  background-color: #e67e22; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #f1c40f; }

.b-contact-form__input, .b-contact-form__textarea {
  border-color: #f1c40f !important; }

.b-contact-form__input:focus, .b-contact-form__textarea:focus {
  border-color: #f89406 !important; }

.b-newsletter__submit, .b-contact-form__submit {
  background-color: #f1c40f !important;
  border-color: #f1c40f !important; }

.b-services__contact-link {
  background-color: #f89406 !important;
  border-color: #f89406 !important; }

.b-pricing-table__button {
  background-color: #f1c40f !important;
  border-color: #f1c40f !important; }

.b-services__contact-link:hover,
.b-services__contact-link:active,
.b-pricing-table__button:hover,
.b-pricing-table__button:active {
  background-color: #e67e22 !important;
  border-color: #e67e22 !important; }

.b-newsletter__submit:hover,
.b-newsletter__submit:active,
.b-contact-form__submit:hover,
.b-contact-form__submit:active {
  background-color: #f89406 !important;
  border-color: #f89406 !important; }

.b-about {
  background-color: #feea77; }

.b-about__position {
  background-color: #f1c40f;
  color: white; }

.b-testimonials__name--color, .b-pricing-table__color-text, .b-contacts__text--color {
  color: #f89406; }

.b-testimonials, .b-services {
  background-color: #f1c40f; }

.b-testimonials__text {
  color: #e2f7ce; }

.b-pricing-table__item, .b-contacts--footer {
  background-color: #feea77; }

.b-pricing-table__item--active .b-pricing-table__header {
  background-color: #f1c40f; }

.b-pricing-table, .b-contact-us {
  background-color: white; }

footer {
  background-color: #f1c40f; }

.carousel-control {
  background-color: #f1c40f; }

.carousel-control:hover {
  background-color: #f89406; }

.countdown_amount {
  color: #f1c40f; }

.tweet_time a, .tweet_user, .tweet_user:hover {
  color: #444444; }

.b-footer--pic .tweet_time a, .b-footer--map .tweet_time a {
  color: #444444; }
.b-footer--pic .tweet_user, .b-footer--pic .tweet_user:hover, .b-footer--map .tweet_user, .b-footer--map .tweet_user:hover {
  color: #f1c40f; }
