/* Custom fonts */
@font-face {
  font-family: 'arsenal';
  src: url("../font/arsenal/arsenal-bold-webfont.eot");
  src: url("../font/arsenal/arsenal-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/arsenal/arsenal-bold-webfont.woff") format("woff"), url("../font/arsenal/arsenal-bold-webfont.ttf") format("truetype"), url("../font/arsenal/arsenal-bold-webfont.svg#arsenalbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'arsenal';
  src: url("../font/arsenal/arsenal-italic-webfont.eot");
  src: url("../font/arsenal/arsenal-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/arsenal/arsenal-italic-webfont.woff") format("woff"), url("../font/arsenal/arsenal-italic-webfont.ttf") format("truetype"), url("../font/arsenal/arsenal-italic-webfont.svg#arsenalitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'arsenal';
  src: url("../font/arsenal/arsenal-regular-webfont.eot");
  src: url("../font/arsenal/arsenal-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/arsenal/arsenal-regular-webfont.woff") format("woff"), url("../font/arsenal/arsenal-regular-webfont.ttf") format("truetype"), url("../font/arsenal/arsenal-regular-webfont.svg#arsenalregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quicksand';
  src: url("../font/quicksand/quicksand-bold-webfont.eot");
  src: url("../font/quicksand/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/quicksand/quicksand-bold-webfont.woff") format("woff"), url("../font/quicksand/quicksand-bold-webfont.ttf") format("truetype"), url("../font/quicksand/quicksand-bold-webfont.svg#quicksandbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'quicksand';
  src: url("../font/quicksand/quicksand-italic-webfont.eot");
  src: url("../font/quicksand/quicksand-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/quicksand/quicksand-italic-webfont.woff") format("woff"), url("../font/quicksand/quicksand-italic-webfont.ttf") format("truetype"), url("../font/quicksand/quicksand-italic-webfont.svg#quicksanditalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'quicksand';
  src: url("../font/quicksand/quicksand-regular-webfont.eot");
  src: url("../font/quicksand/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/quicksand/quicksand-regular-webfont.woff") format("woff"), url("../font/quicksand/quicksand-regular-webfont.ttf") format("truetype"), url("../font/quicksand/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'linux_biolinum';
  src: url("../font/linbiolinum/linbiolinum_r-webfont.eot");
  src: url("../font/linbiolinum/linbiolinum_r-webfont.eot?#iefix") format("embedded-opentype"), url("../font/linbiolinum/linbiolinum_r-webfont.woff") format("woff"), url("../font/linbiolinum/linbiolinum_r-webfont.ttf") format("truetype"), url("../font/linbiolinum/linbiolinum_r-webfont.svg#linux_biolinum_oregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'linux_biolinum';
  src: url("../font/linbiolinum/linbiolinum_rb-webfont.eot");
  src: url("../font/linbiolinum/linbiolinum_rb-webfont.eot?#iefix") format("embedded-opentype"), url("../font/linbiolinum/linbiolinum_rb-webfont.woff") format("woff"), url("../font/linbiolinum/linbiolinum_rb-webfont.ttf") format("truetype"), url("../font/linbiolinum/linbiolinum_rb-webfont.svg#linux_biolinum_obold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'linux_biolinum';
  src: url("../font/linbiolinum/linbiolinum_ri-webfont.eot");
  src: url("../font/linbiolinum/linbiolinum_ri-webfont.eot?#iefix") format("embedded-opentype"), url("../font/linbiolinum/linbiolinum_ri-webfont.woff") format("woff"), url("../font/linbiolinum/linbiolinum_ri-webfont.ttf") format("truetype"), url("../font/linbiolinum/linbiolinum_ri-webfont.svg#linux_biolinum_oitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'aleo';
  src: url("../font/aleo/aleo-bold-webfont.eot");
  src: url("../font/aleo/aleo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/aleo/aleo-bold-webfont.woff") format("woff"), url("../font/aleo/aleo-bold-webfont.ttf") format("truetype"), url("../font/aleo/aleo-bold-webfont.svg#aleobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../font/aleo/aleo-italic-webfont.eot");
  src: url("../font/aleo/aleo-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/aleo/aleo-italic-webfont.woff") format("woff"), url("../font/aleo/aleo-italic-webfont.ttf") format("truetype"), url("../font/aleo/aleo-italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'aleo';
  src: url("../font/aleo/aleo-regular-webfont.eot");
  src: url("../font/aleo/aleo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/aleo/aleo-regular-webfont.woff") format("woff"), url("../font/aleo/aleo-regular-webfont.ttf") format("truetype"), url("../font/aleo/aleo-regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'yeseva_one';
  src: url("../font/yasevaone/yesevaone-regular_v2-webfont.eot");
  src: url("../font/yasevaone/yesevaone-regular_v2-webfont.eot?#iefix") format("embedded-opentype"), url("../font/yasevaone/yesevaone-regular_v2-webfont.woff") format("woff"), url("../font/yasevaone/yesevaone-regular_v2-webfont.ttf") format("truetype"), url("../font/yasevaone/yesevaone-regular_v2-webfont.svg#yeseva_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'kelson';
  src: url("../font/kelson/kelson_sans_bold-webfont.eot");
  src: url("../font/kelson/kelson_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/kelson/kelson_sans_bold-webfont.woff") format("woff"), url("../font/kelson/kelson_sans_bold-webfont.ttf") format("truetype"), url("../font/kelson/kelson_sans_bold-webfont.svg#kelson_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'kelson';
  src: url("../font/kelson/kelson_sans_light-webfont.eot");
  src: url("../font/kelson/kelson_sans_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/kelson/kelson_sans_light-webfont.woff") format("woff"), url("../font/kelson/kelson_sans_light-webfont.ttf") format("truetype"), url("../font/kelson/kelson_sans_light-webfont.svg#kelson_sanslight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'kelson';
  src: url("../font/kelson/kelson_sans_regular-webfont.eot");
  src: url("../font/kelson/kelson_sans_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/kelson/kelson_sans_regular-webfont.woff") format("woff"), url("../font/kelson/kelson_sans_regular-webfont.ttf") format("truetype"), url("../font/kelson/kelson_sans_regular-webfont.svg#kelson_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa';
  src: url("../font/nexa/nexa_bold-webfont.eot");
  src: url("../font/nexa/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/nexa/nexa_bold-webfont.woff") format("woff"), url("../font/nexa/nexa_bold-webfont.ttf") format("truetype"), url("../font/nexa/nexa_bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'nexa';
  src: url("../font/nexa/nexa_light-webfont.eot");
  src: url("../font/nexa/nexa_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/nexa/nexa_light-webfont.woff") format("woff"), url("../font/nexa/nexa_light-webfont.ttf") format("truetype"), url("../font/nexa/nexa_light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'zag';
  src: url("../font/zag/zag_bold-webfont.eot");
  src: url("../font/zag/zag_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/zag/zag_bold-webfont.woff") format("woff"), url("../font/zag/zag_bold-webfont.ttf") format("truetype"), url("../font/zag/zag_bold-webfont.svg#zag_boldregular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'zag';
  src: url("../font/zag/zag_regular-webfont.eot");
  src: url("../font/zag/zag_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/zag/zag_regular-webfont.woff") format("woff"), url("../font/zag/zag_regular-webfont.ttf") format("truetype"), url("../font/zag/zag_regular-webfont.svg#zag_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dekar';
  src: url("../font/dekar/dekar_light-webfont.eot");
  src: url("../font/dekar/dekar_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/dekar/dekar_light-webfont.woff") format("woff"), url("../font/dekar/dekar_light-webfont.ttf") format("truetype"), url("../font/dekar/dekar_light-webfont.svg#dekar_lightregular") format("svg");
  font-weight: normal;
  font-style: lighter; }

@font-face {
  font-family: 'dekar';
  src: url("../font/dekar/dekar-webfont.eot");
  src: url("../font/dekar/dekar-webfont.eot?#iefix") format("embedded-opentype"), url("../font/dekar/dekar-webfont.woff") format("woff"), url("../font/dekar/dekar-webfont.ttf") format("truetype"), url("../font/dekar/dekar-webfont.svg#dekarregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hero';
  src: url("../font/hero/hero_light-webfont.eot");
  src: url("../font/hero/hero_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/hero/hero_light-webfont.woff") format("woff"), url("../font/hero/hero_light-webfont.ttf") format("truetype"), url("../font/hero/hero_light-webfont.svg#hero_lightlight") format("svg");
  font-weight: normal;
  font-style: lighter; }

@font-face {
  font-family: 'hero';
  src: url("../font/hero/hero-webfont.eot");
  src: url("../font/hero/hero-webfont.eot?#iefix") format("embedded-opentype"), url("../font/hero/hero-webfont.woff") format("woff"), url("../font/hero/hero-webfont.ttf") format("truetype"), url("../font/hero/hero-webfont.svg#heroregular") format("svg");
  font-weight: normal;
  font-style: normal; }
